<h1>Edit user</h1>
<%= form_with(model: @user) do |form| %>
  <%= form.label :username %> <br>
  <%= form.text_field :username %><br>
  <%= form.label :email %> <br>
  <%= form.text_field :email %> <br>
  <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
      <% end %>
  <%= form.label :password %> <br>
  <%= form.text_field :password %> <br>
  <%= form.submit %> <br>
<% end %>